{% extends "layout.html" %}
{% block content %}

			<div style="width:100%;" onload="fun1()">
            
				<font size='10px' ><b><i><u>
					Some Usage info<br>
				</font></b></i></u>
				<font size='5px'>
					<b>1.Vanish Oxi-</b><hr>
					<br>
Always follow washing instructions on garment or fabric label. Check for colour fastness by testing a hidden area of the fabric.
 Rinse and allow to dry. Reclose lid after each use and keep Vanish in a cool dry place. For best results, it may be necessary to
repeat parts of the process. Do not use on any garment or rug made of wool, silk or leather. Do not use on finished or coated surfaces – 
for example wood, metals etc. Do not soak fabrics with metal fasteners or flame-resistant finishes. Do not expose pre-treated or soaked
garments to sources of direct heat or direct sunlight before washing or rinsing thoroughly. Do not contaminate the product in the tub.
 Once mixed, do not leave solution in a sealed container. It will 
continue to give off oxygen and the container may build up pressure and may leak.

safety information:-
Contains Sodium Carbonate Peroxide. Causes serious eye damage. Causes skin irritation. Keep out of reach of children.
 Do not get in eyes, on skin, or on clothing. Wash hands thoroughly after handling. Wear eye protection. IF IN EYES: 
 Rinse cautiously with water for several minutes. Remove contact lenses, if present and easy to do. Continue rinsing.
Immediately call a doctor. IF SWALLOWED: Call a doctor If you feel unwell.
 Keep container dry in a cool place. For sensitive skin, the use of gloves is recommended.
					10.	Follow social distancing if you visit a public place.<br>
					<br>
					<br>
					<b> 2.Vanish Gold Oxi-</b><hr>
					<br>
					Always follow washing instructions on garment or fabric label. Check for colour fastness by testing a hidden area of the fabric.
 Rinse and allow to dry. Reclose lid after each use and keep Vanish in a cool dry place. For best results, it may be necessary to repeat
  parts of the process. Do not use on any garment or rug made of wool, silk or leather. Do not use on finished or coated surfaces – for example
   wood, metals etc. Do not soak fabrics with metal fasteners or flame-resistant finishes. Do not expose pre-treated or soaked garments to sources
    of direct heat or direct sunlight before washing or rinsing thoroughly. Do not contaminate the product in the tub. Once mixed, do not leave
     solution in a sealed container.It will continue to give off oxygen and the container may build up pressure and may leak

				</font>
			</div>

   
  
{% endblock content %}