{% extends "layout.html" %}
{% block content %}
 
			<style type="text/css">
			.btns
				{
					width:500px;
					height:70px;
					font-size:40px;
					text-align:center;
					
				
				}
			
			</style>
			<div style="width:80%;">
            
				<a class="nav-item nav-link" href="/btn1"><input type="submit" class="btns" value ="Usage info " ></a>
				<br><br><br><br><br><br>
				<a class="nav-item nav-link" href="/btn2"><input type="submit"  class="btns"  value ="Basic Precautions" ></a>

			</div>

   
  
{% endblock content %}