{% extends "layout.html" %}
{% block content %}
 

			<div style="width:100%;" onload="fun1()">
            
				<font size='10px' ><b><i><u>
					Some Safety Information:-<br>
				</font></b></i></u>
				<font size='5px'>
				<b>1. Vanish Oxi Action Whitener + Stain Remover Powdee:-</b>
<hr>
Contains Sodium Carbonate Peroxide and Sodium Silicate. Causes serious eye damage. Causes skin irritation. Keep out of reach of children. 
Do not get in eyes, on skin, or on clothing. Wash hands thoroughly after handling Wear eye protection. IF IN EYES: Rinse cautiously with water
 for several minutes. Remove contact lenses, if present and easy to do. Continue rinsing. Immediately call a doctor. IF SWALLOWED: Call a doctor
  If you feel unwell. Keep container dry in a cool place. For sensitive skin, the use of gloves is recommended
From the ones you can clearly see to the tougher ones that may be hidden deep in the fabric, providing astonishing results in as little as
 30 seconds. With its boosted whitening formula, you can instantly whiten your whites, even in lower temperature washes!??
You choose how to use this versatile stain remover powder - in wash, pre-treat or soak your fabrics. Keeping your clothes stain free & ins
tantly whiter is easier than you think - just add a scoop in every wash.
<br>
<b>2. Vanish Gold Oxi Action Whitener + Stain Removal Powder:-</b>
<hr>
Contains Sodium Carbonate Peroxide and Sodium Silicate. Causes serious eye damage. Causes skin irritation. Keep out of reach of children. 
Do not get in eyes, on skin, or on clothing. Wash hands thoroughly after handling Wear eye protection. IF IN EYES: Rinse cautiously with water
 for several minutes. Remove contact lenses, if present and easy to do. Continue rinsing. Immediately call a doctor. IF SWALLOWED: Call a doctor
  If you feel unwell. Keep container dry in a cool place. For sensitive skin, the use of gloves is recommended
From the ones you can clearly see to the tougher ones that may be hidden deep in the fabric, providing astonishing results in as little as
 30 seconds. With its boosted whitening formula, you can instantly whiten your whites, even in lower temperature washes!??
You choose how to use this versatile stain remover powder - in wash, pre-treat or soak your fabrics. Keeping your clothes stain free & ins
tantly whiter is easier than you think - just add a scoop in every wash.




					
					<font size="5px" ><b><i><u>Note- For ingredients information: www.rbeuroinfo.com. Contains: =>30% Oxygen - based bleaching agents, 
						<=5% Anionic Surfactants, Non-ionic Surfactants, Zeolites, Enzymes, Optical Brighteners
so donot play with it.					   
					</font></b></i></u>
				</font>
			</div>

   
  
{% endblock content %}